<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enrollees</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css"/>
    <script th:src="@{/scripts/enrollees.js}" type="text/javascript"></script>
</head>
<body>
<h1 th:text="${'Конкурсный список для обровательной программы ' + program.getNameProgram()}"></h1>
<hr/>

<table th:class="'tableClass'" th:id="'enrolleeTable'">
    <tr>
        <th th:onclick="sortTable(0)">№</th>
        <th th:onclick="sortTable(1)">Ф.И.О.</th>
        <th th:each="programSubject,iterStat : ${program.getSubjects()}" th:class="${iterStat.odd}? 'odd'"
            th:text="${programSubject.getSubject().getNameSubject()}"></th>
        <th th:each="achievement,iterStat : ${achievements}" th:class="${iterStat.odd}? 'odd'"
            th:text="${achievement.getNameAchievement()}"></th>
        <th th:if="${program.isNeedTest()}">Балл за дополнительные испытания</th>
        <th th:onclick="sortTable(9)">Сумма балов</th>
        <th th:onclick="sortTable(10)">Порог пройден</th>
    </tr>

    <tr th:each="enrollee,iterStat : ${enrollees}"
        th:class="${iterStat.odd}? 'odd'"
        th:id="'row'">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${enrollee.getNameEnrollee()}"></td>

        <th:block th:each="enrolleeSubject : ${enrollee.getSubjects()}">
            <th:block th:switch="${enrolleeSubject.getSubject()}">
                <td th:case="${program.getSubjects().get(0).getSubject()}"
                    th:text="${enrolleeSubject.getResult()}"
                    th:id="${'firstSubject' + iterStat.index}"></td>

                <td th:case="${program.getSubjects().get(1).getSubject()}"
                    th:text="${enrolleeSubject.getResult()}"
                    th:id="${'secondSubject' + iterStat.index}"></td>

                <td th:case="${program.getSubjects().get(2).getSubject()}"
                    th:text="${enrolleeSubject.getResult()}"
                    th:id="${'thirdSubject' + iterStat.index}"></td>
            </th:block>
        </th:block>

        <th:block th:each="achievement,iterAchievementsStat : ${achievements}"
                  th:class="${iterAchievementsStat.odd}? 'odd'">
            <td th:text="${enrollee.getAchievements().contains(achievement)} ?
            ${achievement.getBonus()} : '-'"
                th:id="${'achievement' + iterStat.index + iterAchievementsStat.index}"></td>
            <script type="text/javascript"> achievementIndex++; </script>
        </th:block>

        <td th:if="${program.isNeedTest()}"
            th:text="${programEnrollees.get(iterStat.index).getExamResult()}"
            th:id="${'testResult' + iterStat.index}"></td>

        <td th:id="${'sumResult' + iterStat.index}">
            <script type="text/javascript"> getResultSum(); </script>
        </td>

        <td th:if="${notPassedEnrollees.contains(enrollee) or
        notPassedAdditionalTestEnrollees.contains(enrollee)}" th:text="'нет'"
            th:class="'notPassed'"></td>
        <td th:unless="${notPassedEnrollees.contains(enrollee) or
        notPassedAdditionalTestEnrollees.contains(enrollee)}" th:text="'да'"
            th:class="'passed'"></td>
        q

        <script type="text/javascript"> updateVariables(); </script>
    </tr>
</table>

<br/>
<hr/>

<table>
    <tr>
        <th>№</th>
        <th>Название предмета</th>
        <th>Минимальный балл для прохождения порога</th>
    </tr>

    <tr th:each="programSubject,iterStat : ${program.getSubjects()}"
        th:class="${iterStat.odd}? 'odd'"
        th:id="'row'">

        <td th:text="${iterStat.count}"></td>

        <td th:text="${programSubject.getSubject().getNameSubject()}"></td>

        <td th:text="${programSubject.getMinResult()}"></td>
    </tr>
</table>

</body>
</html>