<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments page</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css"/>
</head>
<body>
<h1>Факультеты:</h1>
<hr/>

<table>
    <tr>
        <th>№</th>
        <th>Название факультета</th>
        <th>Образовательные программы</th>
    </tr>
    <tr th:each="department,iterStat : ${departments}" th:class="${iterStat.odd}? 'odd'">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${department.getNameDepartment()}"></td>
        <td>
            <a th:href="@{/departments/{id}(id=${department.getDepartmentId()})}"
               th:text="'Посмотреть'"></a>
        </td>
    </tr>
</table>

</body>
</html>