<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments page</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css"/>
</head>
<body>

<h1>Личный кабинет абитуриента</h1>
<hr/>

<p th:text="${'ФИО: ' + enrollee.getNameEnrollee()}">VALUE</p>
<p th:text="${'Email: ' + enrollee.getEmail()}">VALUE</p>
<p th:text="${'Номер телефона: ' + enrollee.getPhoneNumber()}">VALUE</p>
<p th:text="${'Номер паспорта: ' + enrollee.getPassportNumber()}">VALUE</p>
<p th:text="${'Номер аттестата: ' + enrollee.getCertificateNumber()}">VALUE</p>
<p th:text="${'Номер заявления: ' + enrollee.getStatimentNumber()}">VALUE</p>
<p th:text="${'Номер фото: ' + enrollee.getPhotoNumber()}">VALUE</p>
<p th:text="${'Номер документа, подтверждающего льготы: ' + enrollee.getBenefitNumber()}">VALUE</p>
<p th:text="${'Номер приписного: ' + enrollee.getArmyNumber()}">VALUE</p>
<p th:text="${'Номер медецинской справки: ' + enrollee.getMediitonNumber()}">VALUE</p>
<br>
<form th:method="GET" th:action="@{/lk/editPersonalData{id}(id=${enrollee.getEnrolleeId()})}" th:object="${enrollee}">
    <input type="submit" value="Изменить персональные данные">
</form>
<hr>
<p th:text="${'Баллы за ЕГЭ:'}">VALUE</p>
<th:block th:each="enrolleeSubject : ${enrollee.getSubjects()}">
    <p th:text="${enrolleeSubject.subject.nameSubject + ' - '
    + enrolleeSubject.result + ' баллов'}">VALUE</p>
</th:block>

<th:block th:if="${!enrollee.getAchievements().isEmpty()}">
    <br>
    <p th:text="${'Индивидуальные достижение:'}">VALUE</p>
    <th:block th:each="achievement : ${enrollee.getAchievements()}">
        <p th:text="${achievement.getNameAchievement() + ' - '
        + achievement.getBonus() + ' баллов'}">VALUE</p>
    </th:block>
</th:block>

<hr>
<th:block th:if="${!enrollee.getProgramEnrollees().isEmpty()}">
    <p th:text="${'Учавствует в списках на направлениях:'}">VALUE</p>
    <th:block th:each="programEnrollee : ${enrollee.getProgramEnrollees()}">
        <p th:text="${programEnrollee.getProgram().getNameProgram()}">VALUE</p>
    </th:block>
</th:block>

<th:block th:if="${enrollee.getProgramEnrollees().isEmpty()}">
    <p th:text="${'Еще не учавствует в конкурсных списках:'}">VALUE</p>
</th:block>


</body>
</html>