<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LK page</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css"/>
</head>
<body>

<h1>Личный кабинет абитуриента</h1>
<hr/>
<p th:text="${'ФИО: ' + enrollee.getNameEnrollee()}">VALUE</p>
<p th:text="${'Email: ' + enrollee.getEmail()}">VALUE</p>

<form method="POST" enctype="multipart/form-data"
      th:action="@{/lk/saveFiles{id}(id=${enrollee.getEnrolleeId()})}">

    <th:block th:if="${enrollee.getPhoneNumber() == 0}">
        <p th:text="${'Номер телефона: не указан'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getPhoneNumber() == 0}">
        <p th:text="${'Номер телефона: ' + enrollee.getPhoneNumber()}">VALUE</p>
    </th:block>
    <br>

    <th:block th:if="${enrollee.getPassportNumber() == 0}">
        <p th:text="${'Паспорт: не указан'}" style="color:red"></p>
    </th:block>
    <th:block th:unless="${enrollee.getPassportNumber() == 0}">
        <p th:text="${'Паспорт: указан'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="passportFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getCertificateNumber() == 0}">
        <p th:text="${'Аттестат: не указан'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getCertificateNumber() == 0}">
        <p th:text="${'Атетстат: указан'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="certificateFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getStatimentNumber() == 0}">
        <p th:text="${'Заявление: не указано'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getStatimentNumber() == 0}">
        <p th:text="${'Заявление: указано'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="statimentFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getPhotoNumber() == 0}">
        <p th:text="${'Фото: не указано'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getPhotoNumber() == 0}">
        <p th:text="${'Фото: указано'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="photoFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getBenefitNumber() == 0}">
        <p th:text="${'Документ, пожтверждающего льготы: не указан'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getBenefitNumber() == 0}">
        <p th:text="${'Документ, подтверждающего льготы: указан'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="benefitFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getArmyNumber() == 0}">
        <p th:text="${'Приписное: не указано'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getArmyNumber() == 0}">
        <p th:text="${'Приписное: указано'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="armyFile">
    <br>
    <br>

    <th:block th:if="${enrollee.getMedicalNumber() == 0}">
        <p th:text="${'Медицинская справка: не указана'}" style="color:red">VALUE</p>
    </th:block>
    <th:block th:unless="${enrollee.getMedicalNumber() == 0}">
        <p th:text="${'Медицинская справка: указана'}" style="color:green">VALUE</p>
    </th:block>

    <input type="file" name="medicalFile">
    <br>
    <br>

    <input type="submit" value="Загрузить документы">
</form>

<hr>
<p th:text="${'Баллы за ЕГЭ:'}">VALUE</p>
<th:block th:each="enrolleeSubject : ${enrollee.getSubjects()}">
    <p th:text="${enrolleeSubject.subject.nameSubject + ' - '
    + enrolleeSubject.result + ' баллов'}">VALUE</p>
</th:block>

<form th:method="GET" th:action="@{/lk/selectSubjects{id}(id=${enrollee.getEnrolleeId()})}">
    <input type="submit" value="Изменить баллы ЕГЭ">
</form>

<th:block th:if="${!programEnrollees.isEmpty()}">
    <hr>
    <p th:text="${'Информация о прошедших подолнительных вступительных испытаниях:'}">VALUE</p>
    <th:block th:each="programEnrollee : ${programEnrollees}">
        <p th:text="${programEnrollee.getProgram().getNameProgram() + ' - '
        + programEnrollee.getExamResult() + ' баллов'}">VALUE</p>
    </th:block>
</th:block>

<hr>
<th:block th:if="${enrollee.getAchievements().isEmpty()}">
    <p th:text="${'Индивидуальные достижения отсутствуют:'}">VALUE</p>
</th:block>

<th:block th:if="${!enrollee.getAchievements().isEmpty()}">
    <p th:text="${'Индивидуальные достижения:'}">VALUE</p>
    <th:block th:each="achievement : ${enrollee.getAchievements()}">
        <p th:text="${achievement.getNameAchievement() + ' - '
        + achievement.getBonus() + ' баллов'}">VALUE</p>
    </th:block>
</th:block>

<form th:method="GET" th:action="@{/lk/changeAchievements{id}(id=${enrollee.getEnrolleeId()})}"
      th:object="${enrollee}">
    <input type="submit" value="Изменить список индивидуальных достижений">
</form>


<hr>
<th:block th:if="${!enrollee.getProgramEnrollees().isEmpty()}">
    <p th:text="${'Учавствует в списках на направлениях:'}">VALUE</p>
    <th:block th:each="programEnrollee : ${enrollee.getProgramEnrollees()}">
        <p th:text="${programEnrollee.getProgram().getNameProgram()}">VALUE</p>
    </th:block>

    <th:block th:if="${enrollee.getProgramEnrollees().size() < 3}">
        <form th:method="GET" th:action="@{/lk/participateInAnother{id}(id=${enrollee.getEnrolleeId()})}"
              th:object="${enrollee}">
            <input type="submit" value="Принять участие в конкурсных списках">
        </form>
        <div style="color:red" th:if="${pageCantBeOpen}" th:text="'абитуриент не может' +
        'учавствовать в конкурсных списках так как не были сданы соответствующие предметы ЕГЭ'"></div>
    </th:block>

    <form th:method="GET" th:action="@{/lk/stopParticipate{id}(id=${enrollee.getEnrolleeId()})}"
          th:object="${enrollee}">
        <input type="submit" value="Прекратить участие в конкурсных списках">
    </form>
</th:block>

<th:block th:if="${enrollee.getProgramEnrollees().isEmpty()}">
    <p th:text="${'Еще не учавствует в конкурсных списках:'}">VALUE</p>
    <form th:method="GET" th:action="@{/lk/participateInAnother{id}(id=${enrollee.getEnrolleeId()})}"
          th:object="${enrollee}">
        <input type="submit" value="Принять участие в конкурсных списках">
    </form>
    <div style="color:red" th:if="${pageCantBeOpen}" th:text="'абитуриент не может' +
        'учавствовать в конкурсных списках так как не были сданы соответствующие предметы ЕГЭ'"></div>
</th:block>


</body>
</html>