<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css"/>
</head>
<body>

<h1>Вход</h1>
<hr/>

<form th:method="POST" th:action="@{/lk/afterLogin}" th:object="${enrollee}">
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <input type="submit" value="Войти"/>
</form>

<form th:method="GET" th:action="@{lk/registration}">
    <input type="submit" value="Зарегестрироваться">
</form>

</body>
</html>