<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link media="all" rel="stylesheet" th:href="@{/stylesheets/mainPage.css}" type="text/css"/>
</head>
<body>
<header class="header">
    <h1 class="header__title">Добро пожаловать на сайт приемной комиссии!</h1>
    <form class="form program_from" th:method="GET" th:action="@{/programs}">
        <input class="form_button" type="submit" value="Посмотреть список образовательных программ">
    </form>
    <form class="form department_form" th:method="GET" th:action="@{/departments}">
        <input class="form_button" type="submit" value="Посмотреть список факультетов">
    </form>
    <br>
    <div>
        Личный кабинет абитуриента
        <form th:method="GET" th:action="@{/lk}">
            <input type="submit" value="Войти">
        </form>
        <form th:method="GET" th:action="@{/lk/registration}">
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>

</header>

</body>
</html>